{% extends 'main/base.html'%}

{% block title %}
Добовление задач
{% endblock %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Добавить задачу</h1>
<form method="post">
    {% csrf_token %}
    {{ form.title }}<br>
    {{ form.task }}<br>
    <input type="text" placeholder="Введите текст" class= "form-control"><br>
    <textarea type="text" placeholder="Введите описание" class= "form-control"></textarea><br>
    <button type="submit" class="btn btn-success"> Добавить </button>
</form>
 
{% endblock %}
